body {
  text-align: center;
}

table {
  table-layout: fixed;
}

.mdl-data-table th {
  height: 97px;
  vertical-align: top;
  word-wrap: break-word;
  white-space: normal;
}

.mdl-data-table td {
  text-align: left;
  /* FIXME: Hack to fix write-in candidate's td not expanding. */
  height: 67px;
}

/* FIXME: Hack to fix write-in candidate's td not expanding. */
.mdl-textfield {
  margin-top: -20px;
}
