body {
  text-align: center;
}

table {
  table-layout: fixed;
}

.mdl-data-table th {
  height: 97px;
  vertical-align: top;
  word-wrap: break-word;
  white-space: normal;
}

.mdl-data-table td {
  text-align: left;
}
